body{
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v975-background-07-b-kqkr4ukm.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=d92b38f7af4f92cbb48fb96c37560242");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin:0;
	padding:20px;
	font-family: sans-serif;
}